
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Roboto+Condensed&display=swap');
body{
background: #eee;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
.login-box{
background: #fff;
width: 40%;
margin: auto;
margin-top: 8%;
border-radius: 10px;
padding: 2%;
box-shadow: 3px 2px 20px 8px #c2d0b9;
}