
{% extends 'includes/main.html' %}

<!--extend is used for including a file having all the styles to all the files-->
{% block body %}
<div class="container">
    <div class="login-box">

        <h1 class="text-center">LOGIN </h1>
        <h3 style="color:red" class="text-center">{% if messages %}
<ul class="messages" style="list-style-type:none;>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}</h3>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="form-group">
        <input type="submit" class="btn btn-success" placeholder="Email" value="Login">
    </div>
    <div class=""> Forget Password?</div>
    <a href="{% url 'signup'%}" class="btn btn-info" > Create New Account</a>
    </div>
</div>
</form>
{% endblock %}